{% extends "layout.html" %}
{% block title %}Adversarial{% endblock %}
{% block content %}
<h1>Adversarial noise generation</h1>

    <h3>Original predictions</h3>
    Original image:
    <br>
    <img alt="original image" src="static/orig_image.png" />

    <table>
      <tr>
        <th>Label</th>
        <th>Confidence</th>
      </tr>
        {% for pred in orig_preds %}
          <tr>
            <td>{{ pred[0] }}</td>
            <td>{{ pred[1] }}</td>
          </tr>
        {% endfor %}
    </table>

    <h3>Adversarial predictions</h3>
    Target label: {{ target_label }}
    <br>
    Noise:
    <br>
    <img alt="noise" src="static/noise.png" />
    <br>
    Adversarial image:
    <br>
    <img alt="adversarial image" src="static/adv_image.png" />

    <table>
      <tr>
        <th>Label</th>
        <th>Confidence</th>
      </tr>
        {% for pred in adv_preds %}
          <tr>
            <td>{{ pred[0] }}</td>
            <td>{{ pred[1] }}</td>
          </tr>
        {% endfor %}
    </table>
{% endblock %}