{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Forward pass predictions</h1>

    Original image:
    <br>
    <img alt="original image" src="static/orig_image.png" />
    <table>
      <tr>
        <th>Label</th>
        <th>Confidence</th>
      </tr>
        {% for pred in orig_preds %}
          <tr>
            <td>{{ pred[0] }}</td>
            <td>{{ pred[1] }}</td>
          </tr>
        {% endfor %}
    </table>
{% endblock %}